.menu {
    display: flex;
    z-index: 99;
    padding: 16px;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;

    h1 {
        font-size: 3rem;
        flex: 1;
        color: #fff;
        text-align: center;
    }
}

.pages {
    display: none;
    list-style: none;

    .menuLink {
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
    }

    @keyframes slideLeft {
        from {
            width: 0;
        }

        to {
            width: 100%;
        }
    }

    .menuLink::after {
        content: "";
        width: 100%;
        background-color: #fff;
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 1px;
        display: none;
        animation: slideLeft 200ms;
    }

    .menuLink:hover:after {
        display: block;
    }
}

.menuMobile {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .menu {
        justify-content: flex-start;
        align-items: center;
        h1 {
            flex: 0;
        }
    }

    .pages {
        display: flex;
        margin-left: 32px;
        gap: 24px;
        margin-right: auto;
    }
    
}